<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="eBaySuite" verbose="1" parallel="tests" thread-count="5" preserve-order="true">

  	<listeners>
	<listener class-name="utils.ListenersClass"/>
	<listener class-name="utils.ExtentReporterNGBuilder"/>
	</listeners>
	
	<parameter name="platform" value="android"/>
	<parameter name="username" value="jakkula777@gmail.com"/>
	<parameter name="password" value="yuvaraju@4821"/>
	 
	<test name="eBay-Suite">
		
		<classes> 		
		
			<class name="testcases.VerifyLogin"/> 	 						 		
		</classes>
	</test>
  
</suite>

